@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);

body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 88em;
    color: black;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 150%;
    line-height: 140%;
    color: #333;
}

h1, h2, h3, h4, h5 { font-family: IBM Plex Sans;
                     font-weight: bold;
                     border-bottom: 1px dotted black;
                     color: #7a5ada; }
h1 {
        font-size: 140%;
}

h2 {
        font-size: 120%;
}

h3 {
        font-size: 110%;
}

h4 {
        font-size: 105%;
}

h5 {
        font-size: 100%;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}
